body {
    display: flex;
    flex-direction: column;
    font-style: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    font-size: 24px;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 16px;
    width: 75px;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 16px;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .container {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 128px;
    justify-content: space-between;
    flex: 1;
    max-width: 1250px;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 32px;
    width: 450px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-sub-text {
    font-size: 18px;
    color: #e5e7eb
}

.info button {
    background-color: #cd071e;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin: 8px;
    font-weight: bold;
    align-self: start;
}

.hero img {
    display: flex;
    width: 700px;
    height: auto;
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-header {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    padding-top: 32px;
}

.second .container {
    display: flex;
}

.second img {
    border: 8px;
    border-color: #cd071e;
}

.second .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px;
    width: 200px;
    text-wrap: wrap;
    text-align: center;
}

.item img {
    height: 200px;
    width: 200px;
    border: 8px solid;
    border-color: #cd071e;
    border-radius: 8px;
}

.image-subtext {
    padding: 8px;
    font-weight: bold;
}

.third {
    background-color: #e5e7eb;
}

.third .container {
    margin: 128px 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-family: italic;
    margin: 8px;
}

.quote-by {
    font-weight: bold;
    font-size: 24px;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth .container {
    display: flex;
    background-color: #cd071e;
    padding: 32px 64px;
    margin: 64px 128px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    flex: 1;
    max-width: 500px;
}

.sign-up {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
}

.sign-up-header {
    font-weight: bold;
    font-size: 20px;
}

.fourth button {
    background-color: #cd071e;
    color: #f9faf8;
    border: 2px solid;
    border-color:#f9faf8;
    border-radius: 8px;
    font-weight: bold;
    align-self: start;
    padding: 8px 16px;
}

.footer {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
}

.footer-text {
    padding: 32px;
}