body {
    display: flex;
    font-style: Roboto;
}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-sub-text {
    font-size: 18px;
    color: #e5e7eb
}

.info button {
    background-color: #3882f6;
    color: #f9faf8;
}